.page-content {
  display: flex;
  width: 100%;
}

.dashboard-content-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar-container {
  position: fixed; /* Fix the sidebar's position relative to the viewport */
  width: 20%; /* Set the width to 20% of the viewport width */
  top: 0; /* Align the top edge of the sidebar with the top of the viewport */
  bottom: 0; /* Align the bottom edge of the sidebar with the bottom of the viewport */
  overflow-y: auto; /* Enable scrolling within the sidebar if content overflows */
  margin-left: -1em;
  max-height: 100vh;
}


.main-section-container {
  margin-left: 19.25%;
  flex: 1; /* Main section takes up the remaining space */
  min-height: 100vh;
  margin-bottom: 1em !important;
  margin-right: -1em;
  background-color: white;
}

.dashboard-content{
  background: white;
  height: 100vh;
}