.subscription-page-container {
  display: flex;
  flex-direction: column;
}

.subscription-page-header {
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
  margin-top: 3rem;
  justify-content: space-between;
  margin-right: 3rem;
}

.subscription-page-header-title {
  display: flex;
  background: var(--mainsection-header-background-color);
  padding: 1rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 10rem;
}

.subscription-page-right-container{
  height: 78vh;
  width: 30%;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 2rem;
}
.subscription-page-right-container-tile{
  width: 100%;
  min-height: 8vh;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.subscription-page-right-container-tile-small{
  width: 50%;
  min-height: 8vh;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subscription-page-right-container-tile-container-small{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.subscription-page-right-container-tile-header{
  height: 3vh;
  background-color: var(--mainsection-table-element-background-color);
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscription-page-right-container-tile-content{
  padding-top: 0.5rem;
  height: 6vh;
  background-color: var(--mainsection-right-tile-content-color);
  width: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  div{
    margin-left: 0.5rem;
  }
}

.subscription-page-total-amount {
  display: flex;
  background: var(--mainsection-header-background-color);
  padding: 1rem;
  height: 3rem;
  align-items: center;
  border-radius: 1rem;
  width: 10rem;
}

.subscription-page-total-amount-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.subscription-page-content {
  display: flex;
  overflow-y: auto;
  margin-top: 1em;
  justify-content: space-between;
}

.subscription-page-content-show-inactive-flag {
  margin-right: -6rem;
}

.checkbox-wrapper {
  position: relative;
}

.custom-checkbox {
  margin-left: 1rem;
  width: 20px;  /* Size of the custom checkbox */
  height: 20px;
  background-color: var(--login-section-container-color);  /* Background of the checkbox */
  border: 1px solid var(--login-section-container-border-color);  /* Border of the checkbox */
  display: inline-block;
  vertical-align: middle;
  cursor: pointer; /* Cursor to pointer to indicate this is clickable */

}

.subscription-page-content-show-inactive-flag-checkbox:checked + .custom-checkbox {
  background-color: var(--sidebar-background-color-hover); /* Or another color when checked */
  border-color:  var(--sidebar-background-color-hover); /* Border color when checked */
}

/* Optional: Add a checkmark when checked */
.subscription-page-content-show-inactive-flag-checkbox:checked + .custom-checkbox:after {
  content: '✔';
  color: white;
}


.subscription-table-element {
  padding: 0.5rem 1rem;
  background-color: var(--mainsection-table-element-background-color);
  border-radius: 5px;
}

.subscription-table-element-red {
  padding: 0.5rem 1rem;
  background-color: var(--mainsection-table-element-background-color-red);
  border-radius: 5px;
}

.subscription-table {
  margin-left: 1.5rem;
  max-height: 75vh;
  overflow-y: auto;
}

.table-element-logo-image {
  max-height: 3rem;
  border-radius: 5px;
}

.subscription-table-element input {
  border: none;
  background: none;
  font-size: 1rem;
}

.subscription-table-element button {
  height: 2rem;
  cursor: pointer;
}