.subscription-page-container{
  display: flex;
  flex-direction: column;
}
.subscription-page-header{
  display: flex;
  flex-direction: row;
  gap:1rem;
  margin-left: 3rem;
  margin-top: 3rem;
}
.subscription-page-header-title{
  display: flex;
  background: var(--mainsection-header-background-color);
  padding: 1rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 10rem;
}
.subscription-page-total-amount{
  display: flex;
  background: var(--mainsection-header-background-color);
  padding: 1rem;
  height: 3rem;
  align-items: center;
  border-radius: 1rem;
  width: 10rem;
}
.subscription-page-content{
  display: flex;
  max-height: 80vh;
  overflow-y: auto;
  margin-top: 1em;
}

.subscription-table-element{
  padding: 0.5rem 1rem;
  background-color: var(--mainsection-table-element-background-color);
  border-radius: 5px;
}

.subscription-table{
  margin-left: 3rem;
  margin-top: 3rem;
}
.table-element-logo-image{
  max-height: 3rem;
  border-radius: 5px;
}
.subscription-table-element input{
  border: none;
  background:none;
  font-size: 1rem;
}
.subscription-table-element button{
  height: 2rem;
  cursor: pointer;
}