:root {
  --sidebar-background-color: #343434;
  --sidebar-background-color-hover: #2d2d2d;
  --mainsection-header-background-color: #e7e7e7;
  --mainsection-right-tile-content-color: rgba(243, 243, 243, 0.75);
  --mainsection-table-element-background-color: #ececec;
  --mainsection-table-element-background-color-red: #ead5d5;
  --mainsection-table-element-background-color-green: #d7ead5;
  --mainsection-table-element-background-color-yellow: #eae7d5;
  --mainsection-table-element-background-color-blue: #d5d7ea;
  --login-section-container-color: #e3e3e3;
  --login-section-button-color: #007bff;
  --login-section-text-color: #2d2d2d;
  --login-section-container-border-color: #ababab;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
