.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.coming-soon {
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    font-size: 2rem;
    color: white;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* Typing effect */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

/* Cursor animations */
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}
